  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Grade</th>
    </tr>
  </thead>
  <tbody>
    {{#each climbs as |climb|}}
    <tr data-id="{{climb.id}}">
      <th scope="row">{{climb.id}}</th>
      <td>{{climb.date}}</td>
      <td>{{climb.grade}}</td>
    </tr>
    {{/each}}
  </tbody>
