$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$buttons-visited: #C4EE71;
$buttons: #A2D144;
$modal: #BA8F67;
$table-head: #c79363;
$table-background: #8B5019;
$font-white: #fafafa;
$font-black: #000;

body {
  background: url("http://www.pptbackgrounds.org/uploads/earth-tones-antique-paper-powerpoint-backgrounds.jpg");
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: $font-black;

  min-height: 100%;
min-width: 100%;
max-width: 2500px;
max-height: 1500px;
}

#sign-in-primary-button {
  margin-bottom: 30px;
  margin-top: 30px;
}

#sign-up-primary-button {
  margin-bottom: 20px;
  margin-top: 20px;
}

#change-password-primary-button {
  display: none;
  float: right;
  margin-right: 104%;
}

#sign-out-button {
  clear: both;
  margin-top: 5px;
  display: none;
  float: right;
  margin-right: 104%;
}

#create-climb-primary-button {
  display: none;
  margin-top: 20px;
  margin-bottom: 25px;
}

.btn {
  background-color: $buttons;
  color: #3b5998;
}

.btn:hover,
.btn:visited {
  background-color: $buttons-visited;
}

.modal-content {
  background: $modal;
  color: $font-black;
}

.container {
  //carousel
  margin: -40px, 0, 0, 0;
  width: 100%;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
  color: $font-black;
}

.slider-size {
  margin: auto;
  max-height: 750px;
  max-width: 600px;
  min-height: 750px;
}

.text-center {
  text-align: center;
}

.crud-container {
  display: none;
}

// .index {
//   display: none;
//   background: red;
//   // max-height: 100px;
//   // max-width: 50%;
// }

.index {
  background-color: rgba(255, 255, 255, .8);
  border-bottom: 7px solid #bed5cd;
  font-size: 17px;
  margin: auto;
  height: 600px;
  width: 50%;
  overflow-y: scroll;
}

.scroll-table {
  font-size: 20px;
  width: 100%;
}

th.text-center {
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
}

.table {
  background-color: rgba(255, 255, 255, .8);
  border-right: 7px solid #bed5cd;
  border-left: 7px solid #bed5cd;
  margin: auto;
  height: 600px;
  width: 100%;
}

.table-head {
  border-top: 7px solid #bed5cd;
  border-bottom: 7px solid #bed5cd;
  margin: auto;
  height: 600px;
  width: 50%;
}

.update-delete-container {
  display: none;
}

@media (max-width: 500px) {
  body {
    background: url("http://www.pptbackgrounds.org/uploads/earth-tones-antique-paper-powerpoint-backgrounds.jpg");
    background-size: auto;
  }

  .slider-size {
    margin: auto;
    max-height: 300px;
    min-height: 300px;
    max-width: 300px;
  }

  .table-striped {
    border: 5px solid #bed5cd;
    width: 70%;
  }

  h3 {
    font-size: 15px;
  }

  p {
    font-size: 10px;
  }

  #change-password-primary-button {
    margin-right: 5%;
  }

  #sign-out-button {
    margin-right: 5%;
  }

  tbody {
    font-size: 15px;
  }

  th.text-center {
    font-size: 18px;
  }
}
