$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$background: #00d3b6;
$buttons: #60dc46;
$modal: #00f5d3;

body {
  background-color: $background;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.btn:hover,
.btn:active,
.btn:visited {
  background-color: $buttons;
}

.modal-content {
  background: $modal;
}

.container { //carousel
  margin: -40px, 0, 0, 0;
  width: 100%;
}

.slider-size {
  margin: auto;
  max-height: 600px;
  min-height: 600px;
  max-width: 600px;
  // min-width: 600px;
}

.text-center {
  text-align: center;
}

#change-password-primary-button {
  display: none;
}

#create-climb-primary-button {
  display: none;
  margin-top: 30px;
}

#sign-out-button {
  display: none;
}

.crud-container {
  display: none;
}

.index {
  display: none;
  // margin: 0, auto;
  // overflow-y: auto;
  // max-height: 10px;
  // background: pink;
}

.table-header {
  // border-style: solid;
}

.table {
  border: 7px solid #bed5cd;
  margin-top: 45px;
  margin-left: 30%;
  width: 40%;
}

.update-delete-container {
  display: none;
}
