$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

// $background: #c79363;
$buttons-visited: #C4EE71;
$buttons: #A2D144;
$modal: #BA8F67;
$table-head: #c79363;
$table-background: #8B5019;
$font-white: #fafafa;
$font-black: #000;

body {
  // background-color: $background;
  background-image: radial-gradient(
      #fafafa,
      #c79363
    );
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: $font-black;
}

#sign-in-primary-button {
  margin-bottom: 30px;
  margin-top: 30px;

}

#sign-up-primary-button {
  margin-bottom: 20px;
  margin-top: 20px;

}

.btn {
  background-color: $buttons;
  color: #3b5998;
}

.btn:hover,
.btn:active,
.btn:visited {
  background-color: $buttons-visited;
}

.modal-content {
  background: $modal;
  color: $font-black;
}

.container { //carousel
  margin: -40px, 0, 0, 0;
  width: 100%;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.slider-size {
  margin: auto;
  max-height: 750px;
  max-width: 600px;
  min-height: 750px;
  // min-width: 600px;
}

.text-center {
  text-align: center;
}

#change-password-primary-button {
  display: none;
  float: right;
  margin-right: 10px;
}

#create-climb-primary-button {
  display: none;
  margin-top: 20px;
  margin-bottom: 25px;
}

#sign-out-button {
  clear: both;
  margin-top: 5px;
  display: none;
  float: right;
  margin-right: 10px;
}

.crud-container {
  display: none;
}

.index {
  height: 100px;
  overflow-y: scroll;
  width: 50%;
}

.table-striped {
  border: 7px solid #bed5cd;
  font-size: 17px;
  margin: auto;
  width: 50%;
  height: 100px;
  // background: $table-background;
  // overflow: scroll;
}

tbody {
  font-size: 20px;
  // color: $font-black;
}

th {
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  // background: $table-head;
  // color: $font-black;
}

.update-delete-container {
  display: none;
}

// footer {
//   font-size: 15px;
//   // height: 20px;
//   margin-top: 50px;
//   position: relative;
//   text-align: center;
// }

@media (max-width: 500px) {

  .slider-size {
    margin: auto;
    max-height: 300px;
    min-height: 300px;
    max-width: 300px;
  }

  .table-striped {
    border: 5px solid #bed5cd;
  }

  h3 {
    font-size: 15px;
  }

  p {
    font-size: 10px;
  }
}
